
<% if current_user.isDepartmentAdmin || current_user.isGeneralAdmin %>
<div class="title-container">
	<h3>Crear Tag</h3>
</div>
<div class="row">
	<div class="col s12 m8 departmentColumn">
		<div class="card departmentDetail">
			<%= render 'form', tag: @tag %>
			
		</div>
	</div>
</div>
<% else %>
 <div class="title-container">
	<h3>No tiene permisos para esto</h3>
</div>
<% end %>
<%= link_to 'Back', tags_path %>
