// Place all the styles related to the Departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.form-container .picker__weekday-display {
    background-color: #333745;
}

.form-container .picker__date-display {
    background-color: #474b57;
}
.form-container .picker__day--selected,
.form-container .picker__day--selected:hover,
.form-container .picker--focused .picker__day--selected {
    background-color: #474b57;
}

.form-container .picker__close,
.form-container .picker__today {
    color: #474b57;
}
.picker__day.picker__day--today {
    color: #EA2E49;
}
.form-container .picker__footer .picker__clear {
	color: #EA2E49;
}